.form-control {
	background-color: #000000;
	letter-spacing: 0.8px;
	height: 32px;
	width: 33.3%;
	font-size: 16px;
	color: #f9f9f9;
	border: transparent;
	font-family: Baskerville, Baskerville Old Face, Goudy Old Style, Garamond, Times New Roman, serif;
	border: 3px solid #f9f9f9;
	margin-left: 33.3%;
	/*border-bottom: 5px;*/
}
body {
	font-family: Baskerville, Baskerville Old Face, Goudy Old Style, Garamond, Times New Roman, serif;
	background: url('img/movie.jpg') no-repeat center center fixed;
}

#findMovie {
	background-color: transparent;
	border: transparent;
	color: transparent;
}

a {
    color: #1b359b;
}

button, input, optgroup, select, textarea {
   /* margin: 0;
    font: small-caps;
    color: inherit;*/
    font-weight: lighter;
}

#form-group {
	/*padding-bottom: 0px;*/
	padding-top: 30px;
	padding-left: 5px;
	/*padding-right: 165px;*/
}

#moviePoster {
	padding-left: 20px; 
	margin-right: 0px;
	/*width: 25%;*/
	/*padding-top: 9px;
*/}

#movieInfo {
	padding-left: 0px;
	padding-right: 0px;
	border: transparent;
	font-weight: lighter;
}

#fixing {
	/*margin-top: 100px;*/
	padding-top: 35px;
	padding-bottom: 480px;
	/*margin-top: 50px;*/
	m/*argin-bottom: 400px;*/
}

/*#tbInfo {
	border: white;
}*/

.container {
	padding-top: 120px;
}

.brand {
	position: fixed;
	text-align: center;
	width: 100%;
	height: 150px;
	z-index: 99;
	background: url('img/movie.jpg') no-repeat center center fixed;
	font-family: Baskerville, Baskerville Old Face, Goudy Old Style, Garamond, Times New Roman, serif;
}

.footer {
	height: 70px
}

.searchAny {
	color: grey;
	padding-top: 60px;
	font-family: Baskerville, Baskerville Old Face, Goudy Old Style, Garamond, Times New Roman, serif;
	text-align: center;
	font-size: 4em;
	padding-left: 220px;
	padding-right: 220px;
}

